*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
	font-size: 15px;
	font-family: 'Times New Roman Special';
}

/* //------
 */
.klor{
	width: 22px;
    height: 22px;
    display: block;
    border-radius: 16px;
    font-size: 12px;
    color: #888;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #777;
    background-color: #fff;
    margin: 0 auto 4px;
}
.hov{
	width: 22px;
    height: 22px;
    display: block;
    border-radius: 16px;
    font-size: 12px;
    color: #fff;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #a2a2a2;
    background-color: #7f7f7f;
    margin: 0 auto 4px;
}

#sec{
    border: none;
}
#cat{
	padding-left: 15px;
    border-left:1px solid grey; 
    position: relative;
    left: 0px;
    display:block;
}
#sub_cat{
    border-left:1px solid grey; 
    position: relative;
    left: 0px;
    display:none;
}
#sub_cat_home{
    position: absolute;
    top: 0px;
    left: 271px;
    width: 214px;
    background: #fff;
    z-index: 2;
    display: none;
    padding-left: 20px;
    transition: 1s;
    min-height: 395px;

}
.borderdot{
    margin: 20px;
    border-bottom-width:1px; 
    border-bottom-style: dotted; 
}
.rad{
    padding-right: 10px;
}

/* #cat:hover + #sub_cat_home{
	display: block;
} */

label{
    padding-top: 0;
}

.inp{
    padding: 5px;
    margin-top: 8px;
    border-radius: 5px;
    height: 2.2em;
    outline: none;
    border: 1px solid #ccc;
}
.inp-sm{
    width: 20%;
}
.inp-xs{
    width: 10%;
}
.inp-xl{
    width: 100%;
}
.inp-m{
    width: 25%;
}
.inp-xxl{
    width: 100%;
    height: 250px;
    vertical-align: text-top;
}
.inp-ml{
    width: 100%;
    height: 150px;
}
.inp-file{
    padding: 5px;
}
.bord{
    margin: 15px;
    padding: 10px;
    border:1px solid grey;
    border-radius: 5px;
}
/* #mm{
    padding-bottom: 500px;
} */
.bot{
    margin-bottom: 20px;
}
.pad{
    padding-right: 5px;
}
/* //------
 */
 body{
	background: #F4F4F4;
}

.a-manu2{
	display: none;
}
.a-manu1>li>a:hover .a-manu2{
	display: block;
}
a{
	color: #005EEB;
}
a:hover{
	color: blue;
	text-decoration: none;
}
h2{
	color: black;
	padding-bottom: 20px;
}
h3,h4{
	color: #666;
	padding-bottom: 20px;
	padding-left: 15px;
}
p{
	padding: 20px;
	color: #888888;
}
label{
	margin-bottom: 25px;
    font-size: 12px;
    padding-top: 11px;
}

textarea{
	width: 80%;
	margin-top: 8px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
	text-indent: 20px;
}
.text-b{
	padding: 0;
	font-weight: bold;
	color: black;
}
#top_manu{
	background: #fff;
	padding-top: 5px;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
}
.navbar-brand{
	padding: 5px 33px;
}
.navbar-brand>img {
    display: block;
    width: 145px;
    height: 40px;
}
.top_manu_icon{
	background: black;
	color: black;
}
#content{
	padding-top: 85px;
	min-height: 88vh;
}

.main{
	padding-top: 85px;
	min-height: 91vh;
}
#main_reclame>img{
	width: 50%;
}
#left_manu{
	background: #fff;
	text-align: left;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #ccc;
	padding-top: 10px;
	position: relative;
}
.l_m{
	padding-left: 10px;
}
#left_reclame>img{
	width: 100%;
}
#left_reclame{
	padding-top: 30px;
}
.content-sm{
	padding-bottom: 20px;
	background: #fff;
}
.content-sm>div{
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#fb-log{
	border-bottom: 1px solid #ccc;
}
#user_login{
	padding-top: 20px;
}
#user_login>div{
	padding-top: 20px;
}
.register-info>li{
	display: list-item;
	max-width: 35vw;
	text-align: left;
	padding-left: 30px;
	padding-top: 26.9px;

}
.input{
	width: 70%;
	margin-top: 8px;
	border-radius: 5px;
	height: 2.2em;
	outline: none;
	border: 1px solid #ccc;
	text-indent: 20px;
}
.input-sm{
	width: 40%;
	margin-top: 8px;
	border-radius: 5px;
	height: 2.2em;
	outline: none;
	border: 1px solid #ccc;
	text-indent: 5px;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
input:focus,select:focus{
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.btn-success{
	margin-top: 20px;
}
.btn-a{
	border: #fff;
	background: #4848F4;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
}
.btn-red{
	border: #fff;
	background: #F1711E;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
}
.a-manu{
	display: block;
	padding-top: 10px;
	color: black;
}
.btn-a:hover{
	text-decoration: none;
	background: #6760F4;
	color: #fff;
}
.txt{
	margin-top: 20px;
	margin-left: 30px;
}
.icon-bar{
	background: blue;
}
.li{
	list-style: none;
	transition: 1s ease-out;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	border-top:1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: transparent;
}
.li:hover{
	border-color: blue;
	background: #F4F4F4;
	color: blue;
}
.li:hover .ulul{
	display: block;
}
.li:hover .ulul{
	display: block;
}
.ulul{
 	position: absolute;
    left: 253px;
    top: 0;
    width: 228px;
    min-height: 454px;
    z-index: 1;
    background: #F4F4F4;
    display: none;
    box-shadow: 0px 0px 5px 2px #ccc;
}
.ulul>li{
	list-style: none;
	transition: 1s ease-out;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	cursor: pointer;
	border-top:1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: transparent;
}
.ulul>li:hover{
	border-color: blue;
	background: #fff;
	color: blue;
}
#mm li{
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;

}
#user-info{
	background: #fff;
}
.user-top-manu-li-hover{
	border: none;
	height: 2.5em;
	border-top: 1px solid blue;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: #fff;
	text-align: center;
}
.user-top-manu-li{
	border: none;
	background: none;
	height: 2.5em;
	color: black;
}
.border{
	border-bottom: 1px solid #ccc;
    margin-bottom: 18px;
    margin-top: 15px;
    background:#fff;
    padding-bottom: 10px
}
.red_txt{
	color: red;
}
.border-l{
	border-left: 1px solid #ccc;
	height: 100%;
}
.ac_button{
	margin-top: 30px
}
#footer{
	margin-top: 20px;
	background: #fff;
	min-height: 6vh;
}
.vallet{
	display: none;
}
.top_products{
	background: #FFFFEE;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}
.top_products_grid{
	display: inline-block;
	width: 32%;
	height: 100%;
	transition: .6s ease-in;
	margin-left: 7px;
}
.top_products_grid>a{
	padding: 100px;
}
.top_products_grid:hover{
	background: rgba(0,0,0,0.1);
}
.top_products_list{
	width: 100%;
	height: 201px;
	transition: .6s ease-in;
	border-bottom: 1px solid #ccc;
}
.ord_products{
	background: #fff;
	padding-left: 20px;
	padding-right: 20px;
}
.ord_products_grid{
	display: inline-block;
	width: 32%;
	height: 201px;
	margin-left: 7px;
	transition: .6s ease-in;
}
.ord_products_list{
	width: 100%;
	height: 201px;
	transition: .6s ease-in;
	border-bottom: 1px solid #ccc;
}
.work_list{
	padding: 20px;
	border-bottom: 1px solid #ccc;
}
.ord_products_grid:hover{
	background: rgba(0,0,0,0.1);
}
.rand_list{
	transition: 1s;
}
.rand_list:hover{
	background: rgba(62,185,235,0.4);
	color: black;
}
.iconc{
	width: 20px;
	transition: .5s;
}
.iconc:hover{
	opacity: 0.5;
}
#main_content_ads{
	background: #fff;
	padding-bottom: 150px;
	box-shadow: 0px 0px 8px -1px #ccc;
	padding-left: 32px;
    padding-top: 20px;
}
#sp span{
	margin-left: 10px;
}
#Exchange{
	border-radius: 5px;
	background: #ccc;
	text-align: center;
	padding: 5px;
	box-shadow: 0px 0px 8px -1px #ccc;
}
#right_content_ads{
	padding-top: 20px;
	background: #fff;
	box-shadow: 0px 0px 8px -1px #ccc;

}
.img_list img{
 	width:100%;
 	height:162px
}
#img_ads{
	margin: 0 auto;
	width: 80%;
	height: 400px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}
#img_ads_d{
	margin-top: 20px;
}
.txt-ad{
	font-size: 15px;
	width: 80%;
	padding-left: 20px;
	padding-bottom: 20px;
}
#main_content>div{
	box-shadow: 0px 0px 8px -1px #ccc;
}
.date_ads{
	color: #ccc;
}
#img_ads>img{
	 height: 100%;
   width:100%;
	transition: 1s;
}
.imd-next{
	width: 40px;
	height: 40px;
	border: 1px solid red;
	display: inline-grid;
}
.img_next{
	width: 40px;
	height: 40px;
	transition: 1s;
}
.img_next:hover{
	opacity: 0.5;
}
.zoom_img{
	display: none;
	bottom: 20px;
	position: absolute;

}
#zoom_img_ads{
	width: 100%;
}
#img_ads:hover .zoom_img{
	display: inline;
    transition: .5s;
}
#prev{
	position: absolute;
	bottom: 170px;
    left: 0px;
    display: none;
    transition: .5s;
}
#next{
	position: absolute;
	bottom: 170px;
    right: 0px;
    display: none;
    transition: .5s;
}
#img_ads:hover #next{
	display: inline;
}
#img_ads:hover #prev{
	display: inline;
}
#next:hover,#prev:hover{
	opacity: .6;
}
#skype,#number,#viber,#WhatsApp{
	position: relative;
	text-indent: 20px;
}
.inp_icon_t{
	width: 18px;
    position: absolute;
    top: 98px;
    left: 21px;
}
.inp_icon_s{
	width: 18px;
    position: absolute;
    top: 241px;
    left: 21px;
}
.inp_icon_v{
	width: 23px;
    position: absolute;
    top: 380px;
    left: 21px;
}
.inp_icon_w{
	width: 24px;
    position: absolute;
    top: 520px;
    left: 21px;
}
.active_img_ads{
	border: 1px solid red;
	border-radius: 5px;
	transform:scale(1.2,1.2);
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
 #img_ads_d img{
	width: 100px
 }
 #car_info>div>div>div:nth-child(2){
 	font-weight: bold;
 }
 #info td{
 	padding-left: 20px;
 	padding-right: 20px;
 	border-right: .5px solid #ccc;
 }
 .td_ads{
 	font-weight: bold;
 }
.help{
	padding-left: 20px;
	padding-right: 20px;
}
#search_list{
	width: 214px;
    min-height: 30px;
    background: #fff;
    border: 0.3px solid #ccc;
    position: absolute;
    top: 46px;
    z-index: 1320;
    left: 355px;
    padding: 5px;
    display: none;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
footer>div{
	line-height: 6vh;
}